<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
</div>
<div class="container">
    <h4>Rules:</h4>
    <div>
        <ol>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by underpopulation.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
            <li>Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
        </ol>
    <p>The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. The "game" is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves, or, for advanced "players", by creating patterns with particular properties.</p>
    </div>
        <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">See more...</a>
</div>